<!DOCTYPE html>
<html>
<head>
    <title>HOMEPAGE</title>
</head>
<body>
    <h2>1. tutte le informazioni su un cliente di cui si inserisce il nome e il cognome</h2>
    <form action="/esercizio1" method = "GET">
        
        <input type="text" name = "nome" ></input> <br>
        <input type="text" name = "cognome" ></input> <br>

        <p><input type = "submit" value = "Clicca per conoscere i dati" /></p>
    </form> <br> <br>

    <h2>l'elenco dei clienti che risiedono in una certa città inserita dall'utente</h2>
    <form action="/esercizio2" method = "GET">
        
        <input type="text" name = "citta" ></input> <br>


        <p><input type = "submit" value = "Clicca per conoscere i dati" /></p>
    </form> <br> <br>
    <h2>esercizio 3 "clicca qui"</h2>
    <form action="/esercizio3" method = "GET">
     

        <p><input type = "submit" value = "Clicca per conoscere i dati" /></p>
    </form>

</body>
</html>